{% extends "layout.html" %}

<title>
	{% block title %}
	{{ title }}
	<meta name="description" content="Login into Aurous79 admin page for their feedback form.">
	<meta name="author" content="SinclairPythonAkoto">
	{% endblock %}
</title>

{% block content %}

<h1 style="text-align: center;">{{ title }}</h1>

<p style="text-align: center;">Enter your username and password to login as Aurous79 Management.</p>

<form action="{{ url_for('login') }}" method="post">
	<div class="card">
		<img src="static/aurous-logo.png" alt="Aurous79Logo" style="width: 100%"><br>
		<input type="text" name="username" placeholder="Username" required>
		<input type="password" name="password" placeholder="Password" required>
		<button type="submit">LOGIN</button>
	</div>
</form>


{% endblock %}